body{
  padding:0;
  margin:0;
}

h1,p{
  color: white;
  text-align: center;
  font-size: 70px;
}
.nav{
  color: white;
  margin: 50px;
  padding: 50px;
  text-align: center;
  font-size: 70px;
  top:50%;
}

#grid{
  display: grid;
  grid-template-columns: 300px 1fr;
}
