.box{
  width: 1600px; 
  margin: 0 auto;
}

/**사진**/
.slide{
  width:1600px; height:900px;
  overflow: hidden;
}
.images{
  display: flex;
  height:900px;
  transition: transform 0.5s;
}
.images img{
  width:1600px; height:900px;
}

.back{
  position:relative;
  bottom: 170px; right: 35px;
}
.next{
  position:relative;
  bottom: 170px; left: 220px;
}

button{
  width: 30px; height: 30px;
  color: white;
  background: #343454;
}
button:active{
  background:#3e3e3e;
}
button:disabled{
  background: #cbcaca;
}
