.slider_wrap{
  width: 800px;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.slider_img{
  position:relative;
  width:800px;
  height:450px;
  overflow:hidden;
}

.slider_inner{
  display: flex;
  flex-wrap:wrap;
  width:2400px;
  height:450px;
}

.slider{
  position:relative;
  width:800px;
  height:450px;
}


.slider__btn a {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #ffffff;
  transition: all 0.3s ease;
}
.slider__btn a:hover {
  color: rgba(0, 0, 0,0.8);
}
.slider__btn a.prev {
  left: 0;
}
.slider__btn a.next {
  right: 0;
}
.next{
  right:0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
  background-color: rgba(0,0,0,0.8);
}

.slider__dot {
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
}
.slider__dot .dot {
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  display: inline-block;
  border-radius: 50%;
  text-indent: -9999px;
  transition: all 0.3s;
  margin: 2px;
}
.slider__dot .dot.active {
  background-color: rgba(255, 255, 255, 1);
}

