#slide{
  width: 1600px; 
  margin: 0 auto;
}

#slide i{
  font-size: 30px;
}

#slide .slider_container{
  width:1600px; height:900px;
  overflow: hidden;
}

#slide .slider_container span{
  position:absolute;
  z-index: 99;
  top:50%;
  cursor: pointer;
}

#slide .slider_container .leftBtn{
  left: 12%;
  tranform: translate(0,-50%);
}
#slide .slider_container .rightBtn{
  right: 12%;
  tranform: translate(0,-50%);
}
#slide .slider-container .slider{
    display:flex;
    width: 101%;
}

#slide .slider-container .slider span{
    display: block;
    position: relative;
    min-width: 100%;
}
/*
.images{
  display: flex;
  height:900px;
  transition: transform 0.5s;
}
.images img{
  width:1600px; height:900px;
}*/
