body{
  padding:0;
  margin:0;
  background-color: rgb(34,34,54);
}

.nb{
  display: flex;
  /*justify-content 가로방향 정렬*/
  align-items: center; /*세로방향 정렬*/
  padding: 20px 10px;
  background-color: rgb(8,8,8);
}

.nb a{
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.nb .menu{
  list-style: none;
  display:flex;
  margin:0;
  padding-left:0;
}

.nb .menu li{
  padding: 0px 30px;
}
